<!DOCTYPE html>

<html style="font-family:'Courier New', Courier, monospace">

    {{> header}}

    <body>
        <div style="display: block; max-width:16%; margin-left:42%; margin-right:42%">
            <form action="/" method="POST">
                <fieldset>
                    <legend>Form</legend>
                    <div style="display:flex; justify-content: space-between;">
                        <label for="firstField" style="display: inline-block; margin-right:1em">Base</label>
                        <input name="baseCurrency" id="firstField" style="display: inline-block;" required>
                    </div>
                    <div style="display:flex; justify-content: space-between;">
                        <label for="secondField" style="display: inline-block; margin-right:1em">New</label>
                        <input name="newCurrencies" id="secondField" style="display: inline-block" required>
                    </div>
                    <div style="display:flex; justify-content: space-between;">
                        <label for="thirdField" style="display: inline-block; margin-right:1em">Value</label>
                        <input name="value" id="thirdField" style="display: inline-block" required>
                    </div>
                    <div style="display:flex; justify-content:flex-end">
                        <input type="submit" style="margin-right:1em">
                    </div>
                    
                </fieldset>
                
            </form>
        </div>
        <div style="display: inline-block; text-align:center; max-width:50%; margin-left:25%; margin-right:25%">
            <h1 id="out">{{output}}</h1>
        </div>
        
    </body>

    {{!-- {{> footer}} --}}

</html>